<section id="menu">
  <h2>Cardápio</h2>
  <div id="main-container">
    <div id="pizza-type-container">

      <h3>Cadastrar Pizza</h3>

      <form id="pizza-type-form" action="/api/pizzas/create" method="post" enctype="multipart/form-data">
        <input type="text" name="title" id="title-create" placeholder="Título" required>
        <input type="text" name="description" id="description-create" placeholder="Descrição" required>
        <input type="file" name="image" id="image-create" required>
        <button class="pizza-send-button" type="submit">Cadastrar</button>
      </form>

      <div id="update-pizza-type-container" hidden>
        <form id="update-pizza-type-form" action="" method="post" enctype="multipart/form-data">
          <input type="text" name="id" id="id" placeholder="ID" required>
          <input type="text" name="title" id="title-update" placeholder="Título" required>
          <input type="text" name="description" id="description-update" placeholder="Descrição" required>
          <input type="file" name="image" id="image-update" required>
          <button class="pizza-send-button" type="submit">Atualizar</button>
        </form>
      </div>

      <ul id="pizza-menu-container">
        <% for(let i = 0; i < pizzas.length; i++) { %>
          <li class="pizza-card">
            <div class="left-content">
              <img src="<%= pizzas[i].url %>" alt="<%= pizzas[i].title %>">
              <div class="pizza-content">
                <h3><%= pizzas[i].title %> - ID: <%= pizzas[i].id %></h3>
                <p><%= pizzas[i].description %></p>
              </div>
            </div>
            <div id="buttons">
              <form action="api/pizzas/delete/<%= pizzas[i].id %>" method="post">
                <button class="pizza-delete-button" type="submit"><img src="images/x.png"></button>
              </form>
              <button 
                class="pizza-update-button" 
                data-id="<%= pizzas[i].id %>" 
                data-title="<%= pizzas[i].title %>"
                data-description="<%= pizzas[i].description %>">
                <img src="images/atualizar.png">
              </button>
            </div>
          </li>
        <% } %>
      </ul>
    </div>

    <div id="pizza-sized-container">
      <h3>Cadastrar Tamanho e Preço</h3>

      <form id="pizza-sized-form" action="/api/pizzas/addSize" method="post" enctype="multipart/form-data">
        <div class="left-side">
          <select name="size" id="size">
            <option value="P">P</option>
            <option value="M">M</option>
            <option value="G">G</option>
          </select>
          <input type="text" name="id" id="id" placeholder="ID" required>
          <input type="text" name="price" id="price" placeholder="Preço" required>
        </div>
        
        <button class="pizza-send-button" type="submit">Cadastrar</button>
      </form>

      <div id="size-pizza-menu-container">

      </div>
    </div>
  </div>
</section>