<section id="menu">
  <h2>Cardápio</h2>
  <div id="main-container">
    <div class="pizza-type-container">

      <h3>Cadastrar Pizza</h3>

      <form action="/api/pizzas/create" method="post" enctype="multipart/form-data">
        <input type="text" name="title" id="title" placeholder="Título" required>
        <input type="text" name="description" id="description" placeholder="Descrição" required>
        <input type="file" name="image" id="image" required>
        <button type="submit">Enviar</button>
      </form>

      <ul class="pizza-menu-container">
        
        <% for(let i = 0; i < pizzas.length; i++) { %>
          <li class="pizza-card">
            <div class="left-side">
              <img src="<%= pizzas[i].url %>" alt="<%= pizzas[i].title %>">
              <div class="pizza-content">
                <h3><%= pizzas[i].title %></h3>
                <p><%= pizzas[i].description %></p>
              </div>
            </div>
            <div class="buttons">
              <form action="api/pizzas/delete/<%= pizzas[i].id %>" method="post">

              </form>

            </div>
          </li>
        <% } %>

      </ul>
    </div>

    <div class="pizza-sized-container">
      <h3>Cadastrar Tamanho e Preço</h3>

      <form action="/api/pizzas/addSize" method="post" enctype="multipart/form-data">
        <div class="left-side">
          <select name="size" id="size">
            <option value="P">P</option>
            <option value="M">M</option>
            <option value="G">G</option>
          </select>
          <input type="text" name="id" id="id" placeholder="Id da Pizza" required>
          <input type="text" name="price" id="price" placeholder="Preço" required>
        </div>
        
        <button type="submit">Enviar</button>
      </form>

      <div class="size-pizza-menu-container">

      </div>
    </div>
  </div>
</section>