<!-- Seção principal do menu de cliente -->
<section id="menu">
    <!-- Título do cardápio -->
    <h2>Cardápio</h2>
    
    <!-- Lista de pizzas disponíveis -->
    <ul class="container">
      <% for(let i = 0; i < pizzaTypes.length; i++) { %>
        <li class="card">
          <!-- Exibe a imagem da pizza -->
          <img src="<%= pizzaTypes[i].url %>" width="448" height="260" alt="<%= pizzaTypes[i].title %>">
          <!-- Exibe o título da pizza -->
          <h3><%= pizzaTypes[i].title %></h3>
          <!-- Exibe a descrição da pizza -->
          <p><%= pizzaTypes[i].description %></p>
          <!-- Contêiner para o formulário de pedido -->
          <div class="order-container hidden">
            <!-- Formulário para realizar o pedido -->
            <form action="/api/orders" method="post">
              <!-- Título da seção de escolha de tamanho -->
              <h4>Escolha o tamanho:</h4>
              
              <!-- Loop para exibir os tamanhos disponíveis da pizza -->
              <% for(let j = 0; j < pizzaTypes[i].pizzas.length; j++) { %>
                <label for="<%= pizzaTypes[i].title %>-size-<%= pizzaTypes[i].pizzas[j].size %>">
                  <!-- Opção de tamanho com botão de rádio -->
                  <input type="radio" id="<%= pizzaTypes[i].title %>-size-<%= pizzaTypes[i].pizzas[j].size %>" name="id" value="<%= pizzaTypes[i].pizzas[j].id %>" required>
                  <!-- Exibe o tamanho e o preço da pizza -->
                  <%= pizzaTypes[i].pizzas[j].size %> - R$ <%= pizzaTypes[i].pizzas[j].price %>
                </label>
              <% } %>
              <!-- Botão para enviar o pedido -->
              <button type="submit">Pedir</button>
            </form>
          </div>
        </li>
      <% } %>
    </ul>
</section>